body {
  margin: 0;
  padding: 0;
}

header {
  background-color: bisque;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.login {
  display: flex;
  justify-content: flex-end;
}

.container1 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.container2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

img {
}
